<div class="container">
  <div class="">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Workflow Demo</h4>
      <p class="mb-0">Orient Software Development</p>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-light">
    <ul class="navbar-nav">
      <li class="nav-item bg-light" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link text-dark" [routerLink]='["/"]'>Applicant</a>
      </li>
      <li class="nav-item bg-light" [routerLinkActive]='["link-active"]'>
        <a class="nav-link text-dark" [routerLink]='["/agent"]'>Agent</a>
      </li>
      <li class="nav-item bg-light" [routerLinkActive]='["link-active"]'>
        <a class="nav-link text-dark" [routerLink]='["/org"]'>Organization</a>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>