dist
node_modules
.env
src/RFQ/.vs/
src/RFQ/Apis/WorkFlow/obj/
src/RFQ/ApplicationCore/obj/
src/RFQ/Infrastructure/obj/
src/RFQ/Infrastructure/bin/
src/RFQ/Apis/WorkFlow/bin/
src/RFQ/ApplicationCore/bin/
src/RFQ/Apis/ApplicantApi/bin/
src/RFQ/Apis/ApplicantApi/obj/
src/RFQ/Apis/AuthApi/obj/
src/RFQ/Apis/AuthApi/bin/
