<div class="card border-0">
    <div class="card-body">
        <h3>
            Applicant request list
        </h3>
    </div>
</div>
<div *ngIf="applicantService.getApplicants()">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ApplicantId</th>
                <th scope="col">Applicant Name</th>
                <th scope="col">Adress</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Status</th>
                <th scope="col">Created Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of applicantService.getApplicants()">
                <td>{{item.applicantId}}</td>
                <td>{{item.applicantName}}</td>
                <td>{{item.address}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.status}}</td>
                <td>{{item.createDate}}</td>
                <td>
                    <button (click)="reviewApplicant(item.applicantId)" type="button" class="btn btn-info">Review</button>|
                    <button (click)="accept(item.applicantId)" type="button" class="btn btn-success">Accept</button>|
                    <button (click)="refuse(item.applicantId)" type="button" class="btn btn-danger">Refuse</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>