<hr>
<div class="row">
  <div class="container">
    <ul class="progressbar">
      <li [ngClass]="{'active': processBar.logged}" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link text-dark" [routerLink]='["/1"]'>Login</a>
      </li>
      <li [ngClass]="{'active': processBar.submited}" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link text-dark" [routerLink]='["/2"]'>Submited</a>
      </li>
      <li [ngClass]="{'active': processBar.approved}" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link text-dark" [routerLink]='["/3"]'>Approved</a>
      </li>
      <li [ngClass]="{'active': processBar.completed}" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link text-dark" [routerLink]='["/4"]'>Completed</a>
      </li>
    </ul>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>